#countdown {
    margin-top: 4px;
    margin-left: 6px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: var(--accent-color);
  font-weight: 600;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: relative;
  top: -38px;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: var(--accent-color);
  fill: none;
  animation: countdown 60s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 113px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}